<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style_home.css'%}">
        <title>Onslow Website</title>
        
    </head>
    <body>
        <header>
            <h1>Onslow College Math Website</h1>
            <nav>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="math">Math</a></li>
                    <li><a href="about">Blank</a></li>
                    <li><a href="about">Blank</a></li>
                </ul>
            </nav>
        </header>
        
        <main>
            <div class="main-content">
                <div class="left">
                    <h2>Title</h2>
                    <p>This will contain information about this website probablt or something idgaf</p>
                </div>
                <div class="right">
                    <div class="top">
                        <h3>Top</h3>
                        <p>This will have a link to more infor i thin?</p>
                    </div>
                    <div class="bottom">
                        <h3>Bottom</h3>
                        <p>Link to get to website</p>
                    </div>
                </div>
        </div>
        </main>
        
    </body>
</html>
